@media only screen and (max-width: 1366px) {
    .wrapper
    {
        width: 1366px;
    }
    .container
    {
        width: 1366px;
        display: flex;
        flex-direction: column;
    }
    .head_wrapper{
        width: 1366px;
        background-position: 0px 74px;
        /* background-size: 1085px 857px; */
        background-image: url("../images/banner.png");    
        background-repeat: no-repeat;
        word-spacing: normal;
        height: 1080px;
    }
    header
    {
        height: 155px;
        width: 100%;
        font-family:"NeutralFace";
        font-size: 50px;
        color:white;
    }

    .logo
    {
        width: 60px;
        height: 60px;
        margin-left: 50px;
        margin-top: 50px;
    }
    .menu
    {
        background-image: url("../images/menu.png");
        background-repeat: no-repeat;
        background-position: 370px 12px;
        padding-top: 37px;
        background-size: 1366px;
        top: 14%;
        position: relative;
        color: #1B1FA1;
    }
    .menu_button
    {
        width: 250px;
        height: 60px;
        border: solid 2px #FFB887;
        background-color:transparent;
            transition-duration: .5s;
    }
    .menu_button:hover
    {
        background-color: #FF9C5A;
    }
    form>a,.menu_button
    {
        margin-left: 15px;
        font-family:"LackRegular";
        text-decoration: none;
        color: white;
        font-size: 22px;
        position: relative;
        bottom: 30%;
    }
    .menu > a
    {
        position: relative;
        bottom: 22%;
    }

    .p_au
    {
        margin-left: 130px;
    }
    a:hover 
    {
        
        color:blue;
    }
    .text-portfolio
    {
        position: absolute;
        width: 368px;
        height: 51px;
        left: 500px;
        top: 314px;
        font-family: 'LackRegular';
        font-style: normal;
        font-weight: 700;
        font-size: 52px;
        line-height: 51px;
        color: #F4914E;
    }

    .menu-buttons
    {
        width: 775px;
        height: 66px;
        left: 200px;
        top: 480px;
        position: absolute;
        right: 17.63%;
        bottom: 22.73%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 31px;
        line-height: 36px;
        /* color: #000000; */
        /* background-color: #000000; */
        display: flex;
        flex-direction: column;
        text-decoration: none;
    }

    .buttons
    {
        position: absolute;
        /* background: #b32323; */
        width: 108px;
        height: 46px;
        font-size: 25px;
        display: flex;
        flex-direction: column;
        /* color: #000000; */
        background-color: #ffffff;
        /* bottom: 15%; */
        border: inherit;
        border: solid purple;
        text-decoration: none;
        
    }

    .buttons > div
    {
        position: absolute;
        /* background: #c70000; */
        width: 108px;
        height: 46px;
        font-size: 25px;
        margin-left: 186px;
        /* color: #000000; */
        background-color: #ffffff;
        display: flex;
        bottom: -7%;
        flex-direction: column;
        border: inherit;
        border: solid purple;
        text-decoration: none;

    }

    .buttons-text
    {
        position: absolute;
        /* background: #c70000; */
        width: 210px;
        height: 46px;
        font-size: 25px;
        margin-left: 386px;
        /* color: #000000; */
        background-color: #ffffff;
        /* bottom: 16%; */
        display: flex;
        flex-direction: column;
        border: inherit;
        border: solid purple;
        text-decoration: none;
    }

    .buttons-text > div
    {
        position: absolute;
        /* background: #c70000; */
        width: 100px;
        height: 46px;
        font-size: 25px;
        margin-left: 286px;
        /* color: #000000; */
        background-color: #ffffff;
        bottom: -7%;
        display: flex;
        flex-direction: column;
        border: inherit;
        border: solid purple;
        text-decoration: none;
    }

    .Advertisement
    {
        text-decoration: none;
        color: #000000;
        font-family: system-ui;
    }

    .Advertisement > center
    {
        color: #000000;
    }

    .Web-development
    {   
        text-decoration: none;
        color: #000000;
        font-family: system-ui;
    }

    .Web-development > center
    {
        color: #000000;
    }

    .Design
    {
        text-decoration: none;
        color: #000000;
        font-family: system-ui;
    }

    .Design > center
    {
        color: #000000;
    }

    .Digital-illustration
    {
        position: absolute;
        width: 500px;
        height: 600px;
        left: 100px;
        top: 692px;
        background-color: #ffffff;
        box-shadow: 0px 10px 10px 10px rgba(5, 5, 5, .10);
    }

    .Picture
    {
        position: absolute;
        width: 480px;
        height: auto;

    }

    .Picture > img
    {
        position: absolute;
        width: 480px;
        height: auto;
        margin-top: 0px;
    }

    .Picture > p
    {
        position: absolute;
        width: 352px;
        height: 47px;
        left: 50px;
        top: 450px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 47px;
        color: #000000;
    }

    .Corporate-identity
    {
        position: absolute;
        width: 500px;
        height: 600px;
        left: 700px;
        top: 692px;
        background-color: #ffffff;
        box-shadow: 0px 10px 10px 10px rgba(5, 5, 5, .10);
    }

    .Picture2
    {
        position: absolute;
        width: 480px;
        height: auto;
    }

    .Picture2 > img
    {
        position: absolute;
        width: 480px;
        height: auto;
    }

    .Picture2 > p
    {
        position: absolute;
        width: 352px;
        height: 47px;
        left: 50px;
        top: 450px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 47px;
        color: #000000;
    }

    .Logo-development
    {
        position: absolute;
        width: 500px;
        height: 600px;
        left: 100px;
        top: 1400px;
        background-color: #ffffff;
        box-shadow: 0px 10px 10px 10px rgba(5, 5, 5, .10);   
    }

    .Picture3
    {
        position: absolute;
        width: 480px;
        height: auto;
    }

    .Picture3 > img
    {
        position: absolute;
        width: auto;
        height: 430px;
        margin-left: 80px;
        margin-top: 20px;
    }

    .Picture3 > p
    {
        position: absolute;
        width: 352px;
        height: 47px;
        left: 50px;
        top: 450px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 47px;
        color: #000000;
    }

    .Handmade-products
    {
        position: absolute;
        width: 500px;
        height: 600px;
        left: 700px;
        top: 1400px;
        background-color: #ffffff;
        box-shadow: 0px 10px 10px 10px rgba(5, 5, 5, .10);
    }

    .Picture4
    {
        position: absolute;
        width: 480px;
        height: auto;
    }

    .Picture4 > img
    {
        position: absolute;
        width: 460px;
        height: auto;
        margin-top: 10px;
        margin-left: 20px;
    }

    .Picture4 > p
    {
        position: absolute;
        width: 352px;
        height: 47px;
        left: 50px;
        top: 450px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 47px;
        color: #000000;
    }

    /* //////////////////////// */

    .Targeted-advertising
    {
        position: absolute;
        width: 500px;
        height: 600px;
        left: 100px;
        top: 2100px;
        background-color: #ffffff;
        box-shadow: 0px 10px 10px 10px rgba(5, 5, 5, .10);
    }

    .Picture5
    {
        position: absolute;
        width: 480px;
        height: auto;
    }

    .Picture5 > img
    {
        position: absolute;
        width: 460px;
        height: auto;
        margin-top: 10px;
        margin-left: 20px;
    }

    .Picture5 > p
    {
        position: absolute;
        width: 380px;
        height: 47px;
        left: 50px;
        top: 450px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 47px;
        color: #000000;
    }

    .Graphic-design
    {
        position: absolute;
        width: 500px;
        height: 600px;
        left: 700px;
        top: 2100px;
        background-color: #ffffff;
        box-shadow: 0px 10px 10px 10px rgba(5, 5, 5, .10);
    }

    .Picture6
    {
        position: absolute;
        width: 480px;
        height: auto;
    }

    .Picture6 > img
    {
        position: absolute;
        width: 480px;
        height: auto;
        margin-top: 20px;
        margin-left: 10px;
    }

    .Picture6 > p
    {
        position: absolute;
        width: 352px;
        height: 47px;
        left: 50px;
        top: 450px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 47px;
        color: #000000;
    }

    .Chatbot-for-the-site
    {
        position: absolute;
        width: 500px;
        height: 600px;
        left: 100px;
        top: 2800px;
        background-color: #ffffff;
        box-shadow: 0px 10px 10px 10px rgba(5, 5, 5, .10);
    }

    .Picture7
    {
        position: absolute;
        width: 500px;
        height: 450px;
        background-color: #afafaf;
    }

    .Picture7 > img
    {
        position: absolute;
        width: 480px;
        height: auto;
    }

    .Picture7 > p
    {
        position: absolute;
        width: 352px;
        height: 47px;
        left: 50px;
        top: 450px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 47px;
        color: #000000;
    }

    .Chatbot-for-social-networks
    {
        position: absolute;
        width: 500px;
        height: 600px;
        left: 700px;
        top: 2800px;
        background-color: #ffffff;
        box-shadow: 0px 10px 10px 10px rgba(5, 5, 5, .10);    
    }

    .Picture8
    {
        position: absolute;
        width: 500px;
        height: 450px;
        background-color: #afafaf;
    }

    .Picture8 > img
    {
        position: absolute;
        width: 480px;
        height: auto;
    }

    .Picture8 > p
    {
        position: absolute;
        width: 450px;
        height: 47px;
        left: 50px;
        top: 450px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 47px;
        color: #000000;
    }

    .Souvenir-products
    {
        position: absolute;
        width: 500px;
        height: 600px;
        left: 100px;
        top: 3500px;
        background-color: #ffffff;
        box-shadow: 0px 10px 10px 10px rgba(5, 5, 5, .10);
    }

    .Picture9
    {
        position: absolute;
        width: 480px;
        height: auto;
    }

    .Picture9 > img
    {
        position: absolute;
        width: 460px;
        height: auto;
        margin-top: 10px;
        margin-left: 20px;
    }

    .Picture9 > p
    {
        position: absolute;
        width: 352px;
        height: 47px;
        left: 50px;
        top: 450px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 47px;
        color: #000000;
    }

    .Website-development
    {
        position: absolute;
        width: 500px;
        height: 600px;
        left: 700px;
        top: 3500px;
        background-color: #ffffff;
        box-shadow: 0px 10px 10px 10px rgba(5, 5, 5, .10);
    }

    .Picture10
    {
        position: absolute;
        width: 500px;
        height: 450px;
        background-color: #afafaf;
    }

    .Picture10 > img
    {
        position: absolute;
        width: 480px;
        height: auto;
    }

    .Picture10 > p
    {
        position: absolute;
        width: 352px;
        height: 47px;
        left: 50px;
        top: 450px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 47px;
        color: #000000;
    }

    .Mobile-applications
    {
        position: absolute;
        width: 500px;
        height: 600px;
        left: 100px;
        top: 4200px;
        background-color: #ffffff;
        box-shadow: 0px 10px 10px 10px rgba(5, 5, 5, .10);    
    }

    .Picture11
    {
        position: absolute;
        width: 500px;
        height: 450px;
        background-color: #afafaf;
    }

    .Picture11 > img
    {
        position: absolute;
        width: 480px;
        height: auto;
    }

    .Picture11 > p
    {
        position: absolute;
        width: 352px;
        height: 47px;
        left: 50px;
        top: 450px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 47px;
        color: #000000;
    }

    .Single-page-sites
    {
        position: absolute;
        width: 500px;
        height: 600px;
        left: 700px;
        top: 4200px;
        background-color: #ffffff;
        box-shadow: 0px 10px 10px 10px rgba(5, 5, 5, .10);
    }

    .Picture12
    {
        position: absolute;
        width: 480px;
        height: auto;
    }

    .Picture12 > img
    {
        position: absolute;
        width: 460px;
        height: auto;
        margin-top: 20px;
        margin-left: 20px;
    }

    .Picture12 > p
    {
        position: absolute;
        width: 500px;
        height: 47px;
        left: 50px;
        top: 450px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 47px;
        color: #000000;
    }

    main
    {
        margin-top: -4000px;
    }
    

    footer
    {
        max-width: 1366px;
        height: 362px;
    }
    .upper_footer
    {
        max-width: 1366px;
        height: 321px;
        background-color: #ffffff;
    }
    .footer_info{
        width: 1110px;
        height: 193px;
        font-family: "NeutralFace";
        font-size: 63px;
        padding-top: 31px;
        display: flex;
        justify-content: center;
    }

    .footer_logo
    {
        font-family: NeutralFace;
        font-size: 63px;
        margin-left: 80px;
    }
    .footer_logo>p {
        margin-top: 0px;
        font-family: "NeutralFaceReg";
        font-size: 38px;
    }
    .footer_row
    {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        margin-left: 259px;
    }
    .footer_row>a
    {
        margin-top: 30px;
        font-family: "RobotoRegular";
        text-decoration: none;
        color: #000000;
    }
    .copyright {
        height: 41px;
        background-color: #1B1FA1;
        color: #ffffff;
        display:flex;
        padding-bottom: 12px;
        font-family: "ManropeRegular";
    }
    .copyright>p
    {
        display: flex;
        width:322px;
        margin-left: 136px;
    }
}