
html
{
    background-color: #e6e6ec;
    margin: auto;
}

.wrapper
{
    max-width: 1920px;
    margin: auto;
}

.header
{
    height: 155px;
    max-width: 1920px;
    margin: auto;
}

.logo
{
    width: 60px;
    height: 60px;
    margin-left: 40px;
    margin-top: 14px;
    position: relative;
}

.menu
{
    display: flex;
    height: 155px;
    max-width: 1920px;
    margin-left: 200px;
}

.menu > div:nth-child(1),
.menu > div:nth-child(2)
{
    height: 155px;
}

.menu > div:nth-child(1)
{
    width: 330px;
    font-family:"NeutralFace";
    font-size: 60px;
    color:#1B1FA1;
    margin-top: 40px;
}

.menu > div:nth-child(2)
{
    width: 1230px;
    background-size: 1430px;
    margin-left: 0px;
    background-image: url("../images/menu.png");
    background-repeat: no-repeat;
    padding-top: 55px;
}

.menu > div:nth-child(2) > a:nth-child(1)
{
    margin-left: 40px;
}

.menu > div:nth-child(2) > button
{
    margin-left: 35px;
    margin-right: 20px;
}

.menu > div:nth-child(2) > a
{
    font-family:"LackRegular";
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 50px;
}
.size_menu
{
    height: 400px;
}
.menu_button
{
    width: 295px;
    height: 69px;
    border: solid 2px #FFB887;
    font-family:"LackRegular";
    text-decoration: none;
    color: white;
    font-size: 25px;
    position: relative;
    background-color:transparent;
        transition-duration: .5s;
}

.menu_button:hover
{
    background-color: #FF9C5A;
}

.menu > div:nth-child(2)
{
    font-family:"LackRegular";
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.content
{
    width: 1500px;
    height: 100px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
}

.content > h1{
    
    font-family:"LackRegular";
    font-size: 30pt;
    color: #0F127D;
    margin-top: 100px;
}

.content > div
{
    width: 1540px;
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content > div > div 
{  
    margin-top: 50px;
    font-family: "Source Sans Pro Light";
    font-size: 18pt;

}

.content-m-elements
{
    font-family: "Source Sans Pro";
    font-size: 20pt;
    color: #000000;
}

.content > div > div > a > img
{
    margin-top: 15px;
    margin-right: 10px;
}

/* .telegram_img
{
    position: absolute;
    width: 52px;
    height: 52px;
    left: 701px;
    top: 671px; 
}

.viber_img
{
    position: absolute;
    width: 52px;
    height: 52px;
    left: 844px;
    top: 671px;
    
    
}
.vk_img
{
    position: absolute;
    width: 52px;
    height: 52px;
    left: 202px;
    top: 671px;
}
.whatsapp_img
{
    position: absolute;
    width: 52px;
    height: 52px;
    left: 772px;
    top: 671px;
} */







footer
{
    max-width: 1920px;
    height: 362px;
    margin-top: 700px;
}
.upper_footer
{
    max-width: 1920px;
    height: 321px;
    background-color: #ffffff;
}
.footer_info {
    width: 1261px;
    height: 193px;
    font-family: "NeutralFace";
    font-size: 63px;
    padding-top: 31px;
    display: flex;
    justify-content: center;
}

.footer_logo
{
    font-family: NeutralFace;
    font-size: 63px;
    margin-left: 551px;
}
.footer_logo>p {
    margin-top: 0px;
    font-family: "NeutralFaceReg";
    font-size: 38px;
}
.footer_row {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin-left: 259px;
}
.footer_row>a
{
    margin-top: 30px;
    font-family: "RobotoRegular";
    text-decoration: none;
    text-align: left;
    color: #000000;
    width: 130px;
}
.copyright {
    height: 41px;
    background-color: #1B1FA1;
    color: #ffffff;
    display:flex;
    padding-bottom: 12px;
    font-family: "ManropeRegular";
}
.copyright>p
{
    display: flex;
    width:322px;
    margin-left: 136px;
}


