/* *
{
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    height: 90%;
    scroll-behavior: smooth;
} */

/* .main
{
    display: flex;
    height: 0px;
    background-repeat: no-repeat;
    background-position: right;
    width: 1920px;
    height: 2413px;
} */

main
{
    width: 1920px;
    height: 2385px;
}

.menu
{
    background-image: url("../images/menu.png");
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    color:#1B1FA1;
    float: left;
}

.p_au
{
    margin-left: 210px;
}

footer
{
    width: 1920px;
    height: 0px;
    position: absolute;
    top: 2360px;
}

.text-portfolio
{
    position: absolute;
    width: 368px;
    height: 51px;
    left: 810px;
    top: 314px;
    font-family: 'LackRegular';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 51px;
    color: #F4914E;
}

.menu-buttons
{
    width: 775px;
    height: 66px;
    left: 430px;
    top: 480px;
    position: absolute;
    right: 17.63%;
    bottom: 22.73%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 36px;
    /* color: #000000; */
    /* background-color: #000000; */
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.buttons
{
    position: absolute;
    /* background: #b32323; */
    width: 108px;
    height: 46px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    /* color: #000000; */
    background-color: #ffffff;
    /* bottom: 15%; */
    border: inherit;
    border: solid purple;
    text-decoration: none;
    
}

.buttons > div
{
    position: absolute;
    /* background: #c70000; */
    width: 108px;
    height: 46px;
    font-size: 25px;
    margin-left: 186px;
    /* color: #000000; */
    background-color: #ffffff;
    display: flex;
    bottom: -7%;
    flex-direction: column;
    border: inherit;
    border: solid purple;
    text-decoration: none;
}

.buttons-text
{
    position: absolute;
    /* background: #c70000; */
    width: 210px;
    height: 46px;
    font-size: 25px;
    margin-left: 386px;
    /* color: #000000; */
    background-color: #ffffff;
    /* bottom: 16%; */
    display: flex;
    flex-direction: column;
    border: inherit;
    border: solid purple;
    text-decoration: none;
}

.buttons-text > div
{
    position: absolute;
    /* background: #c70000; */
    width: 100px;
    height: 46px;
    font-size: 25px;
    margin-left: 286px;
    /* color: #000000; */
    background-color: #ffffff;
    bottom: -7%;
    display: flex;
    flex-direction: column;
    border: inherit;
    border: solid purple;
    text-decoration: none;
}

.All
{
    text-decoration: none;
    color: black;
    font-family: system-ui;
}


.Design
{
    text-decoration: none;
    color: #000000;
    font-family: system-ui;
    background-color: purple;
}

.Design > center
{
    color: #000000;
}

.Advertisement
{
    text-decoration: none;
    color: #000000;
    font-family: system-ui;
}

.Advertisement > center
{
    color: #000000;
}

.Web-development
{   
    text-decoration: none;
    color: #000000;
    font-family: system-ui;
}

.Web-development > center
{
    color: #000000;
}

.Design
{
    text-decoration: none;
    color: #000000;
    font-family: system-ui;
}

.Design > center
{
    color: #000000;
}

.Digital-illustration
{
    position: absolute;
    width: 674px;
    height: 749px;
    left: 253px;
    top: 692px;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px 10px rgba(5, 5, 5, .10);
}

.Picture
{
    position: absolute;
    width: 670.46px;
    height: 612.99px;

}

.Picture > img
{
    position: absolute;
    width: 674px;
    height: 588px;
}

.Picture > p
{
    position: absolute;
    width: 370px;
    height: 47px;
    left: 50px;
    top: 610px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    color: #000000;
}

.Corporate-identity
{
    position: absolute;
    width: 674px;
    height: 749px;
    left: 993px;
    top: 692px;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px 10px rgba(5, 5, 5, .10);
}

.Picture2
{
    position: absolute;
    width: 674px;
    height: 612px;
}

.Picture2 > img
{
    position: absolute;
    width: 674px;
    height: 588px;
}

.Picture2 > p
{
    position: absolute;
    width: 352px;
    height: 47px;
    left: 50px;
    top: 610px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    color: #000000;
}

.Logo-development
{
    position: absolute;
    width: 674px;
    height: 749px;
    left: 250px;
    top: 1507px;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px 10px rgba(5, 5, 5, .10);   
}

.Picture3
{
    position: absolute;
    width: 674px;
    height: 612px;
}

.Picture3 > img
{
    position: absolute;
    width: 674px;
    height: 588px;
}

.Picture3 > p
{
    position: absolute;
    width: 352px;
    height: 47px;
    left: 50px;
    top: 610px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    color: #000000;
}

.Handmade-products
{
    position: absolute;
    width: 674px;
    height: 749px;
    left: 995px;
    top: 1507px;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px 10px rgba(5, 5, 5, .10);
}

.Picture4
{
    position: absolute;
    width: 674px;
    height: 612px;
}

.Picture4 > img
{
    position: absolute;
    width: 674px;
    height: 588px;
}

.Picture4 > p
{
    position: absolute;
    width: 360px;
    height: 47px;
    left: 50px;
    top: 610px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    color: #000000;
}

.Targeted-advertising
{
    position: absolute;
    width: 674px;
    height: 749px;
    left: 250px;
    top: 2322px;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px 10px rgba(5, 5, 5, .10);
}

.Picture5
{
    position: absolute;
    width: 674px;
    height: 612px;
}

.Picture5 > img
{
    position: absolute;
    width: 674px;
    height: 588px;
}

.Picture5 > p
{
    position: absolute;
    width: 380px;
    height: 47px;
    left: 50px;
    top: 610px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    color: #000000;
}

.Graphic-design
{
    position: absolute;
    width: 674px;
    height: 749px;
    left: 995px;
    top: 2322px;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px 10px rgba(5, 5, 5, .10);
}

.Picture6
{
    position: absolute;
    width: 674px;
    height: 612px;
}

.Picture6 > img
{
    position: absolute;
    width: 674px;
    height: 588px;
}

.Picture6 > p
{
    position: absolute;
    width: 352px;
    height: 47px;
    left: 50px;
    top: 610px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    color: #000000;
}

.Chatbot-for-the-site
{
    position: absolute;
    width: 674px;
    height: 749px;
    left: 250px;
    top: 3137px;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px 10px rgba(5, 5, 5, .10);
}

.Picture7
{
    position: absolute;
    width: 674px;
    height: 612px;
    background-color: #afafaf;
}

.Picture7 > img
{
    position: absolute;
    width: 674px;
    height: 588px;
}

.Picture7 > p
{
    position: absolute;
    width: 352px;
    height: 47px;
    left: 50px;
    top: 610px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    color: #000000;
}

.Chatbot-for-social-networks
{
    position: absolute;
    width: 674px;
    height: 749px;
    left: 995px;
    top: 3137px;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px 10px rgba(5, 5, 5, .10);    
}

.Picture8
{
    position: absolute;
    width: 674px;
    height: 612px;
    background-color: #afafaf;
}

.Picture8 > img
{
    position: absolute;
    width: 674px;
    height: 588px;
}

.Picture8 > p
{
    position: absolute;
    width: 450px;
    height: 47px;
    left: 50px;
    top: 610px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    color: #000000;
}

.Souvenir-products
{
    position: absolute;
    width: 674px;
    height: 749px;
    left: 250px;
    top: 3952px;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px 10px rgba(5, 5, 5, .10);
}

.Picture9
{
    position: absolute;
    width: 674px;
    height: 612px;
}

.Picture9 > img
{
    position: absolute;
    width: 674px;
    height: 588px;
}

.Picture9 > p
{
    position: absolute;
    width: 352px;
    height: 47px;
    left: 50px;
    top: 610px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    color: #000000;
}

.Website-development
{
    position: absolute;
    width: 674px;
    height: 749px;
    left: 995px;
    top: 3952px;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px 10px rgba(5, 5, 5, .10);
}

.Picture10
{
    position: absolute;
    width: 674px;
    height: 612px;
    background-color: #afafaf;
}

.Picture10 > img
{
    position: absolute;
    width: 674px;
    height: 588px;
}

.Picture10 > p
{
    position: absolute;
    width: 352px;
    height: 47px;
    left: 50px;
    top: 610px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    color: #000000;
}

.Mobile-applications
{
    position: absolute;
    width: 674px;
    height: 749px;
    left: 250px;
    top: 4767px;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px 10px rgba(5, 5, 5, .10);    
}

.Picture11
{
    position: absolute;
    width: 674px;
    height: 612px;
    background-color: #afafaf;
}

.Picture11 > img
{
    position: absolute;
    width: 674px;
    height: 588px;
}

.Picture11 > p
{
    position: absolute;
    width: 352px;
    height: 47px;
    left: 50px;
    top: 610px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    color: #000000;
}

.Single-page-sites
{
    position: absolute;
    width: 674px;
    height: 749px;
    left: 995px;
    top: 4767px;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px 10px rgba(5, 5, 5, .10);
}

.Picture12
{
    position: absolute;
    width: 674px;
    height: 612px;
    background-image: url("../images/portfolio/Single-page-sites.png");
}

.Picture12 > img
{
    position: absolute;
    width: 674px;
    height: 588px;
}

.Picture12 > p
{
    position: absolute;
    width: 700px;
    height: 47px;
    left: 50px;
    top: 610px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    color: #000000;
}

.upper_footer
{
    width: 1920px;
    height: 321px;
    background-color: #ffffff;
}
.footer_info{
    width: 1110px;
    height: 193px;
    font-family: "NeutralFace";
    font-size: 63px;
    padding-top: 31px;
    display: flex;
    justify-content: center;
}

.footer_logo
{
    font-family: NeutralFace;
    font-size: 63px;
    color: #000000;
}
.footer_logo>p 
{
    margin-top: 0px;
    font-family: "NeutralFaceReg";
    font-size: 38px;
}
.footer_row
{
    font-size: 16px;    
    display: flex;
    flex-direction: column;
    margin-left: 259px;
    color: #000000;
}
.footer_row>a
{
    margin-top: 30px;
    font-family: "RobotoRegular";
    text-decoration: none;
    color: #000000;
}
.copyright 
{
    height: 41px;
    background-color: #1B1FA1;
    color: #ffffff;
    display:flex;
    padding-bottom: 12px;
    font-family: "ManropeRegular";
    font-size: 16px;
}
.copyright>p
{
    display: flex;
    width:100%;
    margin-left: 136px;
}
.splide__slide>img
{
    object-fit: cover;
    width: 350px;
    height: 380px;
}

.popup-container
{
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    margin-left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.popup-container-view
{
    visibility: visible;
    opacity: 1;
}

.popup-header
{
    height: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.popup-close-button
{
    width: 50px;
    height: 50px;
    background: url(../images/portfolio_design/close.svg);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    margin: 0px;
}

.popup-close-button:hover
{
    cursor: pointer;
}

.popup-block 
{
    height: 85%;
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #3f3f3f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.popup-block-with-image
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.popup-left-arrow
{
    background: url(../images/portfolio_design/left-arrow.svg);
}

.popup-right-arrow
{
    background: url(../images/portfolio_design/right-arrow.svg);
}

.popup-header
{
    height: 5%;
    width: 100%;
}

.popup-left-arrow,
.popup-right-arrow
{
    cursor: pointer;
    background-position: center;
    background-size: 95%;
    background-repeat: no-repeat;
    height: 50px;
    width: 40px;
}

.popup-img
{
    object-fit: contain;
    background-size: contain;
    width: 80%;
    height: 80%;
}

.disable-scroll
{
    overflow: hidden;
}
