*
{
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
html
{
    background-color: #e6e6ec;
}
.wrapper
{
width: 1920px;
}
.container
{
    width: 1920px;
    display: flex;
    flex-direction: column;
}
.head_wrapper{
    width: 1920px;
    background-position: 0px 74px;
    /* background-size: 1085px 857px; */
    background-image: url("../images/banner.png");    
    background-repeat: no-repeat;
    word-spacing: normal;
    height: 1080px;
}
header
{
    height: 155px;
    width: 100%;
    font-family:"NeutralFace"
    ;font-size: 63.23px;
    color:white;
}

.logo
{
    width: 60px;
    height: 60px;
    margin-left: 50px;
    margin-top: 50px;
}
.menu
{
    background-image: url("../images/menu.png");
    background-repeat: no-repeat;
    background-position: 478px 12px;
    padding-top: 37px;
    background-size: 1520px;
    top: 14%;
    position: relative;
    color:#1B1FA1;
}
.menu_button
{
    width: 345px;
    height: 69px;
    border: solid 2px #FFB887;
    background-color:transparent;
        transition-duration: .5s;
}
.menu_button:hover
{
    background-color: #FF9C5A;
}
form>a,.menu_button
{
    margin-left: 50px;
    font-family:"LackRegular";
    text-decoration: none;
    color: white;
    font-size: 28px;
    position: relative;
    bottom: 25%;
}
.menu>a
{
    position: relative;
    bottom: 22%;
}

.p_au
{
    margin-left: 210px;
}
a:hover 
{
    
    color:blue;
}

main
{
    width: 1920px;
    height: 630px;
    position: absolute;
}

/* .main
{
    display: flex;
    height: 0px;
    background-repeat: no-repeat;
    background-position: right;
} */

footer
{
    width: 1920px;
    height: 0px;
    position: absolute;
    top: 5767px;
}


.Our-mentors
{
    position: absolute;
    width: 500px;
    height: 51px;
    left: 820px;
    top: 256px;
    font-family: 'LackRegular';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 51px;
    color: #F4914E;
}

.teachers
{
    position: absolute;
    width: 925px;
    height: 25px;
    left: 720px;
    top: 332px;
    font-family: 'LackRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    color: #1B1FA1;
}

.blur-Shutova
{
    position: absolute;
    width: 832px;
    height: 832px;
    left: 165px;
    top: 491px;
    background: rgba(244, 145, 78, 0.52);
    filter: blur(350px);
}

    
.Shutova-Tatiana-Alekseevna
{
    position: absolute;
    width: 540px;
    height: 750px;
    left: 405px;
    top: 464px;
}


.Shutova
{
    position: absolute;
    width: 531px;
    height: 74px;
    left: 1013px;
    top: 608px;
    font-family: 'LackRegular';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 106.8%;
    color: #0F127D;
}

.Teacher
{
    position: absolute;
    width: 539px;
    height: 233px;
    left: 1013px;
    top: 732px;
    font-family:"RobotoRegular";
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 40px;
    text-align: justify;
    color: #000000;
}

.blur-Zykina
{
    position: absolute;
    width: 819px;
    height: 819px;
    left: 975px;
    top: 1151px;
    
    background: rgba(27, 31, 161, 0.33);
    filter: blur(350px);
}


.Zykina-Sofya-Dmitrievna
{
    position: absolute;
    width: 539px;
    height: 750px;
    left: 1013px;
    top: 1223px;
}


.Zykina
{
    position: absolute;
    width: 520px;
    height: 83px;
    left: 405px;
    top: 1372px;
    font-family: 'LackRegular';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 106.8%;
    color: #E35D02;
}

.Director
{
    position: absolute;
    width: 540px;
    height: 208px;
    left: 405px;
    top: 1505px;
    font-family:"RobotoRegular";
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 40px;
    text-align: justify;
    color: #000000;
}

.blur-Tishchenko
{
    position: absolute;
    width: 720px;
    height: 720px;
    left: 120px;
    top: 2064px;
    
    background: rgba(244, 145, 78, 0.51);
    filter: blur(350px);
}

.Tishchenko-Vladislav-Anatolyevich
{
    position: absolute;
    width: 560px;
    height: 733px;
    left: 403px;
    top: 1970px;
    background-image: url(../images/teachers/Tishchenko-Vladislav-Anatolyevich.png);
    background-position: 700px;
}

.Tishchenko
{
    position: absolute;
    width: 600px;
    height: 89px;
    left: 1013px;
    top: 2000px;
    font-family: 'LackRegular';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 106.8%;
    color: #0F127D;
}

.IT-agency
{
    position: absolute;
    width: 539px;
    height: 400px;
    left: 1013px;
    top: 2113px;
    font-family:"RobotoRegular";
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 40px;
    text-align: justify;
    color: #000000;
}

.blur-shklyaev
{
    position: absolute;
    width: 789px;
    height: 789px;
    left: 990px;
    top: 2735px;
    
    background: rgba(27, 31, 161, 0.34);
    filter: blur(350px);
}

.shklyaev-Alexey-Alexandrovich
{
    position: absolute;
    width: 539px;
    height: 733px;
    left: 1021px;
    top: 2705px;
    background-image: url(../images/teachers/shklyaev-Alexey-Alexandrovich.png);
    background-position: 620px 980px;
}

.shklyaev
{
    position: absolute;
    width: 600px;
    height: 124px;
    left: 403px;
    top: 2805px;
    font-family: 'LackRegular';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 106.8%;
    color: #E35D02;
}

.designer
{
    position: absolute;
    width: 540px;
    height: 343px;
    left: 405px;
    top: 2979px;
    font-family:"RobotoRegular";
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 34px;
    text-align: justify;
    color: #000000;
}

.blur-Dunaev
{
    position: absolute;
    width: 788px;
    height: 788px;
    left: 86px;
    top: 3493px;
    background: rgba(244, 145, 78, 0.48);
    filter: blur(350px);
}

.Dunaev-Dmitry-Alexandrovich
{
    position: absolute;
    width: 535px;
    height: 720px;
    left: 410px;
    top: 3445px;
}

.Dunaev
{
    position: absolute;
    width: 546px;
    height: 129px;
    left: 1012px;
    top: 3601px;
    font-family: 'LackRegular';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 106.8%;
    color: #0F127D;
}

.branch-manager
{
    position: absolute;
    width: 540px;
    height: 105px;
    left: 1012px;
    top: 3780px;
    font-family:"RobotoRegular";
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 40px;
    color: #000000;
}

.blur-Pashkina
{
    position: absolute;
    width: 751px;
    height: 751px;
    left: 1090px;
    top: 4192px;
    
    background: rgba(27, 31, 161, 0.35);
    filter: blur(350px);
}

.Pashkina-Lyubov-vladimirovna
{
    position: absolute;
    width: 550px;
    height: 760px;
    left: 1013px;
    top: 4165px;
}

.Pashkina
{
    position: absolute;
    width: 540px;
    height: 131px;
    left: 408px;
    top: 4326px;
    font-family: 'LackRegular';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 106.8%;
    color: #E35D02;
}

.WorldSkills
{
    position: absolute;
    width: 540px;
    height: 120px;
    left: 408px;
    top: 4507px;
    font-family:"RobotoRegular";
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 40px;
    text-align: justify;
    color: #000000;
}

.blur-Kuznetsov
{
    position: absolute;
    width: 875px;
    height: 875px;
    left: 73px;
    top: 4878px;
    
    background: rgba(244, 145, 78, 0.48);
    filter: blur(350px);
}

.Kuznetsov-Vladislav-Sergeevich
{
    position: absolute;
    width: 500px;
    height: 650px;
    left: 440px;
    top: 4930px;
}

.Kuznetsov
{
    position: absolute;
    width: 400px;
    height: 131px;
    left: 1012px;
    top: 5038px;
    font-family: 'LackRegular';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 106.8%;
    color: #0F127D;
}

.developer
{
    position: absolute;
    width: 540px;
    height: 244px;
    left: 1012px;
    top: 5219px;
    font-family:"RobotoRegular";
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 40px;
    text-align: justify;
    color: #000000;
}

footer
{
width: 1920px;
height: 362px;
}
.upper_footer
{
    width: 1920px;
    height: 321px;
    background-color: #ffffff;
}
.footer_info{
    width: 1110px;
    height: 193px;
    font-family: "NeutralFace";
    font-size: 63px;
    padding-top: 31px;
    display: flex;
    justify-content: center;
}

.footer_logo
{
font-family: NeutralFace;
    font-size: 63px;
}
.footer_logo>p {
    margin-top: 0px;
    font-family: "NeutralFaceReg";
    font-size: 38px;
}
.footer_row
{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin-left: 259px;
}
.footer_row>a
{
    margin-top: 30px;
    font-family: "RobotoRegular";
    text-decoration: none;
    color: #000000;
}
.copyright {
    height: 41px;
    background-color: #1B1FA1;
    color: #ffffff;
    display:flex;
    padding-bottom: 12px;
    font-family: "ManropeRegular";
}
.copyright>p
{
    display: flex;
    width:322px;
    margin-left: 136px;
}