/* *
{
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    height: 90%;
    scroll-behavior: smooth;
} */

.menu
{
    background-image: url("../images/menu.png");
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    color:#1B1FA1;
    float: left;
}

.p_au
{
    margin-left: 210px;
}

footer
{
    width: 1920px;
    height: 0px;
    position: absolute;
    top: 1500px;
}

.text-portfolio
{
    position: absolute;
    width: 368px;
    height: 51px;
    left: 450px;
    top: 314px;
    font-family: 'LackRegular';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 51px;
    color: #F4914E;
}

.menu-buttons
{
    width: 775px;
    height: 66px;
    left: 870px;
    top: 370px;
    position: absolute;
    right: 17.63%;
    bottom: 22.73%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 36px;
    /* color: #000000; */
    /* background-color: #000000; */
    display: flex;
    flex-direction: column;
}

.buttons
{
    position: absolute;
    /* background: #b32323; */
    width: 108px;
    height: 46px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    /* color: #000000; */
    background-color: #ffffff;
    /* bottom: 15%; */
    border: inherit;
    border: solid purple;
    
}

.buttons > div
{
    position: absolute;
    /* background: #c70000; */
    width: 300px;
    height: 46px;
    font-size: 25px;
    margin-left: 186px;
    /* color: #000000; */
    background-color: #ffffff;
    display: flex;
    bottom: -7%;
    flex-direction: column;
    border: inherit;
    border: solid purple;
}

.buttons-text
{
    position: absolute;
    /* background: #c70000; */
    width: 210px;
    height: 46px;
    font-size: 25px;
    margin-left: 386px;
    /* color: #000000; */
    background-color: #ffffff;
    /* bottom: 16%; */
    display: flex;
    flex-direction: column;
    border: inherit;
    border: solid purple;
}

.buttons-text > div
{
    position: absolute;
    /* background: #c70000; */
    width: 100px;
    height: 46px;
    font-size: 25px;
    margin-left: 286px;
    /* color: #000000; */
    background-color: #ffffff;
    bottom: -7%;
    display: flex;
    flex-direction: column;
    border: inherit;
    border: solid purple;
}

.Digital-illustration
{   
    text-decoration: none;
    color: #000000;
    font-family: system-ui;
    
}

.Digital-illustration > center
{
    color: #000000;
}

.Design
{
    text-decoration: none;
    color: #ffffff;
    font-family: system-ui;
    background-color: purple;
}

.Design > center
{
    color: #000000;
}

main {
    width: 100%;
    margin-top: 450px;
    height: max-content;
    display: flex;
    justify-content: center;
}

.img-place {
    width: 1800px;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img-place>div:nth-child(1) {
    height: 500px;
    width: 800px;
    background-image: url(../images/portfolio_design/pic23.svg);
    background-repeat: no-repeat;
    background-size: 800px auto;
}

.img-place>div:nth-child(2) {
    height: 500px;
    width: 800px;
    background-image: url(../images/portfolio_design/pic24.svg);
    background-repeat: no-repeat;
    background-size: 800px auto;
}

.upper_footer
{
    width: 1920px;
    height: 321px;
    background-color: #ffffff;
}

.footer_info{
    width: 1110px;
    height: 193px;
    font-family: "NeutralFace";
    font-size: 63px;
    padding-top: 31px;
    display: flex;
    justify-content: center;
}

.footer_logo
{
    font-family: NeutralFace;
    font-size: 63px;
    color: #000000;
}
.footer_logo>p 
{
    margin-top: 0px;
    font-family: "NeutralFaceReg";
    font-size: 38px;
}
.footer_row
{
    font-size: 16px;    
    display: flex;
    flex-direction: column;
    margin-left: 259px;
    color: #000000;
}
.footer_row>a
{
    margin-top: 30px;
    font-family: "RobotoRegular";
    text-decoration: none;
    color: #000000;
}
.copyright 
{
    height: 41px;
    background-color: #1B1FA1;
    color: #ffffff;
    display:flex;
    padding-bottom: 12px;
    font-family: "ManropeRegular";
    font-size: 16px;
}
.copyright>p
{
    display: flex;
    width:100%;
    margin-left: 136px;
}
.splide__slide>img
{
    object-fit: cover;
    width: 350px;
    height: 380px;
}
