
html
{
    background-color: #e6e6ec;
    margin: auto;
}

.wrapper
{
    max-width: 1920px;
    margin: auto;
}

.header
{
    height: 155px;
    max-width: 1920px;
}

.logo
{
    width: 60px;
    height: 60px;
    margin-left: 40px;
    margin-top: 14px;
    position: relative;
}

.menu
{
    display: flex;
    height: 155px;
    max-width: 1920px;
    margin-left: 200px;
}

.menu > div:nth-child(1),
.menu > div:nth-child(2)
{
    height: 155px;
}

.menu > div:nth-child(1)
{
    width: 330px;
    font-family:"NeutralFace";
    font-size: 60px;
    color:#1B1FA1;
    margin-top: 40px;
}

.menu > div:nth-child(2)
{
    width: 1230px;
    background-size: 1430px;
    margin-left: 0px;
    background-image: url("../images/menu.png");
    background-repeat: no-repeat;
    padding-top: 55px;
}

.menu > div:nth-child(2) > a:nth-child(1)
{
    margin-left: 40px;
}

.menu > div:nth-child(2) > button
{
    margin-left: 35px;
    margin-right: 20px;
}

.menu > div:nth-child(2) > a
{
    font-family:"LackRegular";
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 50px;
}

.menu_button
{
    width: 295px;
    height: 69px;
    border: solid 2px #FFB887;
    font-family:"LackRegular";
    text-decoration: none;
    color: white;
    font-size: 25px;
    position: relative;
    background-color:transparent;
        transition-duration: .5s;
}

.menu_button:hover
{
    background-color: #FF9C5A;
}

.menu > div:nth-child(2)
{
    font-family:"LackRegular";
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.h-service
{
    font-size: 30pt;
    color: #F4914E;
    font-family:"NeutralFace";
    margin-top: 100px;
}

.services
{
    width: 1450px;
    height: 100px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
}

.pic-num
{
    width: 1366px;
    height: 200px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pic-num > .pic:nth-child(3)
{
    top: -25px;
}

.pic-list
{
    width: 1180px;
    height: 50px;
    margin-top: 50px;
    margin-left: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.advertisement
{
    color: #000000;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Roboto';
}

.WEB-DEVELOPMENT
{
    color: #000000;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Roboto';
}

.design
{
    color: #000000;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Roboto';
}

.pic-list > div
{
    width: 330px;
    height: 100px;
    margin-top: 30px;
    font-family: "RobotoRegular";
    color: black;
}

.pic-list > div > h2
{
    font-family:"NeutralFace";
    color: #1B1FA1;
}

.b-button-place
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.order_button
{
    width: 345px;
    height: 69px;
    top: 360px;
    border: solid 2px #FF9C5A;
    font-family:"LackRegular";
    text-decoration: none;
    color: white;
    font-size: 22px;
    position: relative;
    background-color:#FF9C5A;
        transition-duration: .5s;
}

.order_button:hover
{
    background-color: #FFB887;
}

footer
{
    max-width: 1920px;
    height: 362px;
    margin-top: 900px;
}
.upper_footer
{
    max-width: 1920px;
    height: 321px;
    background-color: #ffffff;
}
.footer_info {
    width: 1261px;
    height: 193px;
    font-family: "NeutralFace";
    font-size: 63px;
    padding-top: 31px;
    display: flex;
    justify-content: center;
}

.footer_logo
{
    font-family: "NeutralFace";
    font-size: 63px;
    margin-left: 551px;
}
.footer_logo>p {
    margin-top: 0px;
    font-family: "NeutralFaceReg";
    font-size: 38px;
}
.footer_row {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin-left: 400px;
}
.footer_row>a
{
    margin-top: 30px;
    font-family: "RobotoRegular";
    text-decoration: none;
    text-align: left;
    width: 150px;
    color: #000000;
}
.copyright {
    height: 41px;
    background-color: #1B1FA1;
    color: #ffffff;
    display:flex;
    padding-bottom: 12px;
    font-family: "ManropeRegular";
}
.copyright>p
{
    display: flex;
    width:322px;
    margin-left: 136px;
}

